--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.4.1+cu118
torchaudio
torchvision

numpy<2.0
auraloss[all]
matplotlib
descript-audio-codec
wandb
tqdm
protobuf==3.19.6
git+https://github.com/descriptinc/audiotools
huggingface_hub